<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{pageTitle}}</title>
</head>

<body>
    {{> header}}
    <i><b>WE</b> think you r happy to visit us.</i>
    {{> footer}}
</body>

</html>